.header{
    text-align: center;
    background-color: rgb(237, 241, 237);
    padding: 20px;
    color: rgb(23, 22, 22);
    border-radius: 12px;
    margin-bottom: 20px;
}

h1{
    margin: 0;
    font-size: 1.8rem;
}