.relogioContainer{
    background-color: rgb(12, 12, 12);
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.3);
    text-align: center;
    backdrop-filter: blur(5px);
}

.hora{
    font-size: 1.5rem;
    padding-right: 20px;
    font-weight: bold;
    margin: 10px 0;
    color: white;
}

.data{
    font-size: 1.5rem;
    margin-top: 5px;
    color: whitesmoke;
}